.body{
    color:#333;
    font-family:Verdana, sans-serif;
    margin:0px;
}
h1{
    color:#e2e2e2;
}


header{
    background-color:black;
    padding-top: 32px;
    padding-bottom:32px;

}

.container{
  
   width:400px;
   margin-left:auto;
   margin-right:auto;
   display:flex;
   align-items:center;

}



.icon img{
    border-radius:50%;
    border-width:4px;
    border-style:solid;
    border-color:white;
}

.info{
   
    margin-left:32px;
}

.info h1{
    font-weight:bold;
    font-size:30px;
    margin:0;
}

.nder{
    font-size:12px;
    
    margin-left:300px;
    
}

.works{
    width:400px;
    margin-left:auto;
    margin-right:auto;

}

.works>h2{
    margin-top: 60px;
    margin-bottom:60px;
}

.mainer{
    display:flex;
}

.laner{
    font-size:14px;
    font-weight:bold;
}

.works>section{
    margin-bottom:60px;
}
 
.works p{
    line-height:1.8;
}

footer p{
    text-align:center;
    font-size:14px;
    margin-bottom:60px;
    color:gray;
}
